<?xml version="1.0" ?>
<model>
    <name>realsense_d455</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Bhargav Chandaka</name>
        <email>bhargav2900@gmail.com</email>
    </author>

    <maintainer>
        <name>Illinois Robotics in Space Team</name>
        <email>iris.uiuc@gmail.com</email>
    </maintainer>

    <description>
        Realsense D455 Camera model
    </description>
</model>
