<?xml version="1.0" ?>
<model>
    <name>rover</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Bhargav Chandaka</name>
        <email>bhargav2900@gmail.com</email>
    </author>

    <maintainer>
        <name>Illinois Robotics in Space Team</name>
        <email>iris.uiuc@gmail.com</email>
    </maintainer>

    <description>
        A basic rover model using the gazebo skid steer plugin
    </description>
</model>
